.vantagem2-bg {
  background-color: #141414;
  color: #fff;
}

.vantagem2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  padding: 100px 35px;
  align-items: center;
}

.vantagem2-conteudo h2 {
  margin-bottom: 20px;
  font-size: 3rem;
}
.vantagem2-conteudo h2 span {
  color: #f93262;
}

.vantagem2-conteudo p {
  font-size: 1.25rem;
  color: #a7a7a7;
}

@media (max-width: 1100px) {
  .vantagem2 {
    grid-template-columns: 1fr;
  }
  .vantagem2 img {
    display: none;
  }
}
